.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("./images/sky.jpg");
  background-size: cover;
}

.maru {
  width: 150px;
  height: 150px;
  position: absolute;
  left: calc(50% - 75px);
  bottom: 30vh;
  animation: jump 0.5s ease-in-out;
  z-index: 2;
}

.maru img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(3px 3px 5px #5b5b5b);
}

.ground {
  width: 100%;
  height: 32vh;
  position: absolute;
  background-image: url("./images/grass.png");
  background-size: cover;
  bottom: 0;
}

@keyframes jump {
  0% {
    transform: translateY(0%)
  }

  50% {
    transform: translateY(-200%)
  }

  100% {
    transform: translateY(0%)
  }
}